* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

#head-logo {
    display: flex;
    align-items: center;
}

nav {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 0px 10px;
}

#container {
    margin: 20px;
}

#server-list {
    margin: 0px 20px;
    border: 1px solid black;
}

#fields {
    display: flex;
    justify-content: space-between;
}

#servers {
    display: flex;
    justify-content: space-between;
}